@model AndresJimenez_Taller_LigaPro.Models.Jugador

@{
    ViewData["Title"] = "Editar";
}

<h1 class="text-white">Editar Jugador</h1>
<hr />
<div class="row">
    <div class="col-md-4 text-white">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posicion" class="control-label"></label>
                <input asp-for="Posicion" class="form-control" />
                <span asp-validation-for="Posicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEquipo" class="control-label"></label>
                <select asp-for="IdEquipo" class="form-control" asp-items="ViewBag.IdEquipo"></select>
                <span asp-validation-for="IdEquipo" class="text-danger"></span>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <input type="submit" value="Editar" class="btn btn-primary w-100" />
                </div>
                <div class="col-md-6 text-end">
                    <a asp-action="Index" class="btn btn-secondary w-100">Regresar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
