@model AndresJimenez_Taller_LigaPro.Models.Equipo

@{
    ViewData["Title"] = "Crear Nuevo Equipo";
}

<h1 class="text-white">Crear Equipo</h1>

<p class="text-white">Ingresa los datos del Equipo</p>
<hr />
<div class="row">
    <div class="col-md-4 text-white">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulos" class="control-label"></label>
                <input asp-for="Titulos" class="form-control" />
                <span asp-validation-for="Titulos" class="text-danger"></span>
            </div>
            <div class="form-group form-check mt-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Extranjeros" /> @Html.DisplayNameFor(model => model.Extranjeros)
                </label>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <input type="submit" value="Crear" class="btn btn-primary w-100" />
                </div>
                <div class="col-md-6 text-end">
                    <a asp-action="Index" class="btn btn-secondary w-100">Regresar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
